{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'lib/html5shiv.js'%}"></script>
    <script type="text/javascript" src="{% static 'lib/respond.min.js'%}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'static/h-ui/css/H-ui.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.min.css'%}"/>
    <!--[if lt IE 9]>
    <link href="{% static 'static/h-ui/css/H-ui.ie.css'%}" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if IE 6]>
    <script type="text/javascript" src="{% static 'lib/DD_belatedPNG_0.0.8a-min.js'%}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style type="text/css">
        .ui-sortable .panel-header {
            cursor: move
        }
    </style>
    <title>活动申请</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body ontouchstart>
<div class="containBox">
    <header class="navbar-wrapper">
        <div class="navbar navbar-black navbar-fixed-top">
            <div class="container cl">
                <a class="logo navbar-logo" href="/club_management/activityform_practice/">活动申请</a>
                <span class="logo navbar-slogan hidden-xs">简单 &middot; 免费 &middot; 快捷</span>
            </div>
        </div>
    </header>
    <div class="wap-container">
        <div id="slider-3">
            <div class="slider">
                <div class="bd">
                    <ul>
                        <li>
                            <a href="http://www.h-ui.net/" target="_blank"><img
                                    src="{% static 'temp/banner1.jpg'%}"></a>
                        </li>
                        <li>
                            <a href="http://www.h-ui.net/zhaoshang.shtml" target="_blank"><img
                                    src="{% static 'temp/banner2.jpg'%}"></a>
                        </li>
                        <li>
                            <a href="http://h-ui.net/H-ui.admin.shtml" target="_blank"><img
                                    src="{% static 'temp/banner3.jpg'%}"></a>
                        </li>
                    </ul>
                </div>
                <ol class="hd cl dots">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ol>
            </div>
        </div>
        <nav class="breadcrumb">
            <div class="container">
                <i class="Hui-iconfont">&#xe67f;</i>
                <a href="/club_management/index/" class="c-primary">首页</a>
                <span class="c-gray en">&gt;</span>
                <span class="c-gray">当前页面</span>
            </div>
        </nav>
        <div class="container ui-sortable">
            <h1>活动申请</h1>
            <div class="panel panel-default">
                <div class="panel-header">社团活动申请表</div>
                <div class="panel-body">
                    <form class="form form-horizontal responsive" id="demoform">
                        <div class="row cl">
                            <label class="form-label col-xs-3">活动名称：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" placeholder="" name="activity_name"
                                       id="activityname">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-3">主办单位：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" placeholder="社团id" name="activity_association">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-3">活动开始时间：</label>
                            <div class="formControls col-xs-8">
                                <input type="date" class="input-text" name="start_time" id="start_time">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-3">活动结束时间：</label>
                            <div class="formControls col-xs-8">
                                <input type="date" class="input-text" name="stop_time" id="stop_time">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-3">负责人手机：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" autocomplete="off" placeholder="手机"
                                       name="fz_telephone" id="fz_telephone">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-3">场地位置：</label>
                            <div class="formControls col-xs-8">
                                <input type="text" class="input-text" autocomplete="off" placeholder="如不需要请填无"
                                       name="space" id="space">
                            </div>
                        </div>
                        <div class="row cl">
                            <div class="col-xs-8 col-xs-offset-3">
                                <input class="btn btn-primary" type="button" id="submit_bu"
                                       value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">Copyright JDY by H-ui.admin v3.1</div>
</div>
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/jquery-ui/1.9.1/jquery-ui.min.js'%}"></script>
<script type="text/javascript" src="{% static 'static/h-ui/js/H-ui.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/jquery.validate.min.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/validate-methods.js'%}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.validation/1.14.0/messages_zh.min.js'%}"></script>
<script type="text/javascript">
    $("#submit_bu").click(function () {
        $.ajax({
            type: "POST",
            url: "/club_management/add_activity/",
            dataType:'json',
            data: $('#demoform').serialize(),// 序列化表单值
            async: false,
            error: function (request) {  //失败的话
                alert("Connection error");
            },
            success: function (data) {  //成功
                if(data['status']==0){
                    alert("提交成功！");
                };  //就将返回的数据显示出来
                window.location.href="/club_management/activityform_practice"
            }

        });
    });

    $(function () {
        jQuery("#slider-3 .slider").slide({
            mainCell: ".bd ul",
            titCell: ".hd li",
            trigger: "click",
            effect: "leftLoop",
            autoPlay: true,
            //delayTime切换效果持续时间
            delayTime: 700,
            //interTime自动运行间隔
            interTime: 3000,
            //pnLoop没懂
            pnLoop: false,
            //titOnClassName设置titCell状态
            titOnClassName: "active"
        });
    });

</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->